.selected-list-item {
  display: flex;
  gap: var(--spacing-l);
  padding: var(--spacing-m);
  border: 1px solid var(--border-color);
}

.selected-list-item__details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selected-list-item__image {
  height: 90px;
  width: 90px;
}

.selected-list-item__title,
.selected-list-item__description {
  margin: 0px;
}

.selected-list-item__description {
  height: 3lh;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
